<div class="row">
  <div class="col-sm-9">
  <hr class="my-4">  
  <h3>
      <i class="fas fa-golf-ball"></i>
      <%= @course[:name] %>
    </h3>
    <p><%= @course[:description] %></p>
    <p>Par: <%= @course[:par] %></p>
    <p>Yardage: <%= @course[:yards] %></p>
    <p>Slope: <%= @course[:slope] %></p>
    <hr class="my-4">
    <h3 class="mt-5">Reviews</h3>
    <% for review in @reviews %>
      <div class="media mt-3">
        <% if review[:recommend] %>
          <i class="fas fa-thumbs-up fa-3x"></i>
        <% else %>
          <i class="fas fa-thumbs-down fa-3x"></i>
        <% end %>
        <div class="media-body ml-3">
          <h5 class="mt-0"><%= review[:name] %></h5>
          <%= review[:comments] %>
          <h6 class="mt-0">Rating: <%= review[:rating] %> out of 5</h6>
        </div>
      </div>
    <% end %>
    <p class="mt-5"><a href="/courses/<%= @course[:id] %>/reviews/new" class="btn btn-primary">Review now!</a></p>
  </div>
</div>
